// colors
$color-gold: #B6A27C;
$color-silver: #D3D6D7;
$color-white: #FFFFFF;
$color-charcoal: #333A3F;

// breakpoints
$screen-mobile: 460px;
$screen-tablet: 769px;
$screen-desktop: 1024px;
$screen-widescreen: 1216px;