.mainNavWrapper {
    background-color: $color-charcoal;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;

    .mainNavigation {
        a {
            color: $color-gold;
            font-family:'soria' ;
            font-size: 1.2rem;
            margin-right: 1.25rem;
            letter-spacing: 0.025rem;

            &:last-of-type {
                margin-right: 0;
            }

            &:hover {
                color: $color-silver;
                font-size: 1.25rem;
                transition: 0.3s;
            }
        }
    }
}